@using MySql.Data.MySqlClient;
@page "/AssigmentPage"
@inject NavigationManager NavManager


<button @onclick="InsertA">Create Assigment</button>
<button @onclick="DeleteA">Delete Assigment</button>
<button @onclick="SelectA">Select Assigment</button>
<button @onclick="UpdateA">Update Assigment</button>
<button @onclick="SelectU">Select User</button>
<button @onclick="DeleteU">Delete User</button>
<button @onclick="UpdateU">Update User</button>



@code
{
    public void InsertA()
    {
        NavManager.NavigateTo("/AssigmentInsert");
    }
    public void DeleteA()
    {
        NavManager.NavigateTo("/AssigmentDelete");
    }
    public void SelectA()
    {
        NavManager.NavigateTo("/AssigmentSelect");
    }
    public void UpdateA()
    {
        NavManager.NavigateTo("/AssigmentUpdate");
    }
    public void SelectU()
    {
        NavManager.NavigateTo("/UserSelect");
    }
    public void DeleteU()
    {
        NavManager.NavigateTo("/UserDelete");
    }
    public void UpdateU()
    {
        NavManager.NavigateTo("/UserUpdate");
    }
}
