@page "/AssigmentInsert"
@using MySql.Data.MySqlClient;


<input type="text" @bind="AName" placeholder="Enter your Assigment Name" />
<input type="text" @bind="ASubject" placeholder="Enter your Subject Name" />
<input type="text" @bind="Ddate" placeholder="Enter your assigments Due date" />
<input type="text" @bind="ANotes" placeholder="Enter notes" />
<button @onclick="INSERT">INSERT </button>
<p>@Message</p>

@code
{
    string AName = "";
    string ASubject = "";
    string Ddate = "";
    string ANotes = "";
    string Message = "";
    void INSERT()
    {
        MySqlConnection con = new MySqlConnection();
        con.ConnectionString = "server=localhost;user id =root;password=josh17rog;database=gadhw1";
        con.Open();

        string sql = $"INSERT INTO `gadhw1`.`assigments` (`AssignmentName`, `AssignmentsSubject`, `AssignmentsDueDate`,`AssignmentsNotes`) VALUES ('{AName}', '{ASubject}', '{Ddate}', '{ANotes}');";

        MySqlCommand cmd = new MySqlCommand();
        cmd.Connection = con;
        cmd.CommandText = sql;

        int num = cmd.ExecuteNonQuery();
        Message = num > 0 ? "Succsesful" : "No nO";
        con.Close();
    }
}


