@using MySql.Data.MySqlClient;
@page "/AssigmentDelete"

<input type="text" @bind="AssigmentId" placeholder="Enter you AssigmentId" />
<button @onclick="DELETE">sumbit</button>
<p>@Message</p>


@code
{
    string AssigmentId = "";
    string Message = "";

    void DELETE()
    {
        MySqlConnection con = new MySqlConnection();
        con.ConnectionString = "server=localhost;user id =root;password=josh17rog;database=gadhw1";
        con.Open();

        string Sql2 = $"DELETE FROM `gadhw1`.`assigments` WHERE(`idAssignment` = '{AssigmentId}');";
        MySqlCommand cmd2 = new MySqlCommand();
        cmd2.Connection = con;
        cmd2.CommandText = Sql2;
        int num = cmd2.ExecuteNonQuery();
        AssigmentId = num > 0 ? "Succesful" : "No No";
    }
}

