@using MySql.Data.MySqlClient;
@page "/UserDelete"

<input type="password" @bind="userid" placeholder="Enter you userid" />
<button @onclick="DELETE">DELETE</button>
<p>@Message</p>


@code
{
    string userid = "";
    string Message = "";

    void DELETE()
    {
        MySqlConnection con = new MySqlConnection();
        con.ConnectionString = "server=localhost;user id =root;password=josh17rog;database=gadhw1";
        con.Open();

        string Sql2 = $"DELETE FROM `gadhw1`.`userdatabase` WHERE(`IdUsers` = '{userid}');";
        MySqlCommand cmd2 = new MySqlCommand();
        cmd2.Connection = con;
        cmd2.CommandText = Sql2;
        int num = cmd2.ExecuteNonQuery();
        
        Message = num > 0 ? "Succesful" : "No No";

        con.Close();
    }
}

