@page "/"
@using MySql.Data.MySqlClient
@inject NavigationManager NavManager

<div class="page4-wrap">
    <div class="page4-header">
        <h3 class="page4-title">Login Page</h3>
    </div>

    <div class="page4-card">
        <div>
            <label>Email:</label>
            <input type="text" @bind="inputEmail" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" @bind="inputPass" />
        </div>
        <p style="color:red">@errorMessage</p>
        <div class="page4-toolbar">
            <button @onclick="CheckLogin">Login</button>
            <button @onclick="SignUp">SignUp</button>
        </div>
    </div>
</div>

@code {
    private string inputEmail;
    private string inputPass;
    private string errorMessage;
    private MySqlDataReader r;

    public void SignUp()
    {
        NavManager.NavigateTo("/UserInsert");
    }

    private void CheckLogin()
    {
        // הגדרת חיבור
        MySqlConnection con = new MySqlConnection();
        con.ConnectionString = "server=localhost;user id=root;password=josh17rog;database=gadhw1;";
        con.Open();

        // שאילתה לקבלת כל המשתמשים
        MySqlCommand cmd = new MySqlCommand();
        cmd.Connection = con;
        cmd.CommandText = "SELECT * FROM `gadhw1`.`userdatabase`;";

        r = cmd.ExecuteReader();

        bool isAuthenticated = false;

        // מעבר על כל המשתמשים בלולאת while
        while (r.Read())
        {
            string dbEmail = r["UserEmail"].ToString();
            string dbPass = r["UserPassword"].ToString();

            // בדיקה האם הקלט תואם לאחד המשתמשים בטבלה
            if (dbEmail == inputEmail && dbPass == inputPass)
            {
                isAuthenticated = true;
                break; // מצאנו משתמש, אפשר לצאת מהלולאה
            }
        }

        r.Close();
        con.Close();

        if (isAuthenticated)
        {
            // העברה לדף אחר ל לא שימוש ב-Session או הגנה
            NavManager.NavigateTo("/AssigmentPage");
        }
        else
        {
            errorMessage = "שם משתמש או סיסמה שגויים.";
        }
    }
    public void InsertU()
    {
        NavManager.NavigateTo("/UserInsert");
    }
}
